<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Weather Data</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="index.css" rel="stylesheet">

  </head>

  <body style="background-color: #4B515D;" class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand text-white">Weather Data</h3>
        </div>
      </header>

      <main role="main" class="inner cover">

        <nav class="justify-content-center navbar navbar-light">
          <form action="search" class="form-inline">
            <input name="city" class="form-control mr-sm-2" type="search" placeholder="Search City" aria-label="Search City">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>

        <h1 class="cover-heading text-white">Weather in <%= data.search.data.results[0].name %>:</h1>
        
          <div class="row">
            
            <div class="col">
              <section class="vh-100">
                <div class="container py-3 h-100">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-auto col-lg-6 col-xl-10">
              
                      <div class="card" style="background-color: #dedede; color: #4B515D; border-radius: 35px;">
                        <div class="card-body p-4">
              
                          <div class="d-flex">
                            <h5 class="flex-grow-1"><%= data.search.data.results[0].name %></h6>
                          </div>
              
                          <div class="d-flex flex-column text-center mt-5 mb-4">
                            <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"><%= data.result.data.current_weather.temperature %> °C</h6>
                          </div>
              
                          <div class="d-flex align-items-center">
                            <div class="flex-grow-1" style="font-size: 1rem;">
                              <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1"> <%= data.result.data.current_weather.windspeed %> km/h
                                </span></div>
                            </div>
                          </div>

                          <div class="d-flex justify-content-end">
                            <img src="/images/<%= data.result.image %>" width="100px">
                          </div>
              
                        </div>
                      </div>
              
                    </div>
                  </div>
              
                </div>
              </section>
            </div>
            
          </div>
        
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p class="text-white">Made by Umut Coskun</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>